.card-header .btn-sm,
.card-header .btn-group-sm > .btn {
  margin-top: 0px;
}

.table td {
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

.mylist {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mylist__li {
  padding-left: 60px;
}

.mylist__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  height: 60px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mylist__wrapper:hover {
  background: #fcfcfc;
}

.mylist__wrapper:hover .mylist__actions {
  opacity: 1;
}

.mylist__actions {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  opacity: 0;
}

.mylist__plusHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  border-right: 1px solid #ddd;
  background: #f0f3f5;
  height: 100%;
  margin-right: 20px;
  font-size: 1.2em;
}

.mylist__plusHolder i {
  cursor: pointer;
}

.card-block > .mylist:first-child {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.card-block > .mylist:first-child > .mylist__li {
  padding-left: 0px;
}

.loader {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader__container {
  position: relative;
  min-height: 100px;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.tag {
  display: inline-block;
  padding: .5em .4em;
  font-size: 75%;
  line-height: 1;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
}

.tag-primary {
  background: #21a8d8;
}

