.table td.secretTd__container {
  padding: 0;
}

.secretTd {

  &__hover {

    overflow: hidden;

    &:hover {
      .secretTd {
        visibility: visible;
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }

  &__container {
    width: 0px;
    padding: 0;
    position: relative;


  }

  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: 0.3s all;
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(244, 247, 249, 0.9);
  // border-right: 1px solid #c2cfd6;
  border-left: 1px solid #c2cfd6;

}
